html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	color: #545149;
	background-color: #f4f1ec;
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	display: flex;
	align-self: center;
	flex-direction: column;
	background-color: #f4f1ec;
	width: 90%;
}

@media only screen and (min-width: 1024px) {
	body {
		display: flex;
		color: #545149;
		background-color: #f4f1ec;
		font-size: 24px;
		font-family: 'Source Sans Pro', sans-serif;
		flex-direction: row;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-self: center;
		width: 90%;
		padding-top: 100px;
		scroll-padding: 50% 0 0 0;
	}
}
